*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-boxb;
}

body{
    height: 100vh;
    overflow-x: hidden;
}

.title-badge{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(./photos/Météo\ _\ 17\ départements\ en\ vigilance\ orange\ pluie-inondation\,\ orages\ et\ crues.jpg);
    background-repeat: repeat;
    background-size: cover; /****Ajuster la taille de l'image pour couvrir tout le conteneur***/
    animation: fadeInOut 10s infinite alternate;  /****Ajustez la durée et le comportement de l'animation selon mes besoins****/


@media screen and (max-width:768px) {
    display: block;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url(./photos/Météo\ _\ 17\ départements\ en\ vigilance\ orange\ pluie-inondation\,\ orages\ et\ crues.jpg);
    background-repeat: repeat;
    background-size: cover;  /****Ajuster la taille de l'image pour couvrir tout le conteneur *****/
    animation: fadeInOut 10s infinite alternate;  /****Ajustez la durée et le comportement de l'animation selon mes besoins****/
    }
}


form{
    width: 350px;
    margin: 0 auto;
}


.box_element{
    border: 1px solid black;
    height: 200px;
    width: 200px;

    @media screen and (max-width:768px){
        height: 150px;
        width: 150px;
    }
}

.element_temps1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    flex-wrap: wrap;

    @media screen and(max-width: 768px){
        font-size:30px;
    }
}



.element_temps2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    flex-wrap: wrap;

    @media screen and(max-width: 768px){
        font-size:30px;
    }
}


.boite-box{
    width: 500px;
    margin: 0 auto ;
}

button{
    width: 350px;
    background-color: aliceblue;
}
button:hover{

    background-color: yellow;
    pointer-events: fill;
}

#ville{
    background-color:rgba(204, 203, 255, 0.377); ;
}

#temp{
    background-color: rgba(204, 203, 255, 0.377);
}

#humidite{
    background-color: rgba(204, 203, 255, 0.377);
}

#vent{
    background-color: rgba(204, 203, 255, 0.377);
}